h2 {
    font-size: 20px;
    color: black;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    text-align: center;
}

.champion {
    display: block;
    place-items: center;
}