main {
    background-color: lightblue;
    height: max()
}

.searchChampBox {
    width: 25vw;
    height: 5vh;
    margin-left: 37vw;
    margin-top: 10px;
    border: 2px solid black;
    font-size: 30px;
}

.gridBox {
    margin-top: 10px;
}