.abilitiesContainer {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.ability {
    margin-bottom: 20px;
    width: 100%;
}

.abilityHeader {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-bottom: none;
    background-color: lightblue;
    width: 100%;
}

.abiltyImg {
    width: 10%;
    height: 10%;
}

.abilityName {
    font-size: 32px;
    font-weight: bold;
    width: 70%;
}

.abilityKey {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    width: 20%;
}

.abilityStats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.abilityMain {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.abilityDesc {
    border: 1px solid black;
    padding: 10px;
    width: 60%;
}

.abilityLvl {
    border: 1px solid black;
    padding: 10px;
    width: 40%;
}

.importantText {
    font-weight: bold;
}

.passiveActive {
    color: #0044ff;
    font-weight: bold;
}

.adConversion {
    color: #ff8800;
    font-weight: bold;
}

.apConversion {
    color: #3edf53;
    font-weight: bold;
}

.hpConversion {
    color: #e61d1d;
    font-weight: bold;
}

.obscure {
    color: #a96bdb;
}

.invisible {
    color: #3ccfda;
}