.generalTableHeader {
    background-color: lightblue;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.generalTableData {
    width: 50vw;
    max-width: 200px;
}

.generalTableTextData {
    padding: 5px;
}

.generalTableKey {
    font-weight: 500;
}

.logo {
    display: inline;
    margin: 0 3px 0;
}

.statLogo {
    display: inline;
    margin-right: 3px;
}

.generalTable {
    border-collapse: collapse;
    border: 2px solid grey;
}

.infoBox {
    margin-left: 20px;
    width: 400px;
}

@media screen and (max-width: 880px) {
    .infoBox {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}